@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: local('Ubuntu Light Italic'), local('Ubuntu-LightItalic'), url(https://fonts.gstatic.com/s/ubuntu/v14/4iCp6KVjbNBYlgoKejZftVyPN4Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Ubuntu Italic'), local('Ubuntu-Italic'), url(https://fonts.gstatic.com/s/ubuntu/v14/4iCu6KVjbNBYlgoKej70l0w.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: local('Ubuntu Medium Italic'), local('Ubuntu-MediumItalic'), url(https://fonts.gstatic.com/s/ubuntu/v14/4iCp6KVjbNBYlgoKejYHtFyPN4Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local('Ubuntu Bold Italic'), local('Ubuntu-BoldItalic'), url(https://fonts.gstatic.com/s/ubuntu/v14/4iCp6KVjbNBYlgoKejZPslyPN4Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Ubuntu Light'), local('Ubuntu-Light'), url(https://fonts.gstatic.com/s/ubuntu/v14/4iCv6KVjbNBYlgoC1CzjsGyI.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Ubuntu Regular'), local('Ubuntu-Regular'), url(https://fonts.gstatic.com/s/ubuntu/v14/4iCs6KVjbNBYlgoKfw7z.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Ubuntu Medium'), local('Ubuntu-Medium'), url(https://fonts.gstatic.com/s/ubuntu/v14/4iCv6KVjbNBYlgoCjC3jsGyI.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Ubuntu Bold'), local('Ubuntu-Bold'), url(https://fonts.gstatic.com/s/ubuntu/v14/4iCv6KVjbNBYlgoCxCvjsGyI.ttf) format('truetype');
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
  background-color: #f5f5f5;
}
/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}
/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}
/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}
/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}
/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}
/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}
/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}
/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}
/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}
* {
  box-sizing: border-box;
  font-size: 62.5%;
}
header {
  width: 100%;
  height: 600px;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  background: linear-gradient(#6e5494cc, #6e5494cc), url('../imgs/bridge.jpg') no-repeat center / 100% 100%;
  color: white;
}
@media only screen and (max-width: 800px) {
  header {
    background: linear-gradient(#6e5494cc, #6e5494cc), url('../imgs/bridge.jpg') no-repeat center / 100% 100%;
    height: 500px;
  }
}
@media only screen and (max-width: 525px) {
  header {
    height: 300px;
    background: linear-gradient(#6e5494cc, #6e5494cc), url('../imgs/bridge.jpg') no-repeat center / 100% 100%;
  }
}
header .hero-container {
  width: 80%;
  margin: 0 auto;
}
@media only screen and (max-width: 1627px) {
  header .hero-container {
    width: 95%;
  }
}
@media only screen and (max-width: 525px) {
  header .hero-container {
    width: 95%;
    margin: 0;
    padding: 0;
  }
}
header .hero-container .hero-header-container {
  width: 60%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
@media only screen and (max-width: 1627px) {
  header .hero-container .hero-header-container {
    width: 80%;
  }
}
@media only screen and (max-width: 1200px) {
  header .hero-container .hero-header-container {
    width: 90%;
  }
}
@media only screen and (max-width: 1000px) {
  header .hero-container .hero-header-container {
    width: 97%;
  }
}
header .hero-container .hero-header-container h1 {
  margin-bottom: 5%;
  font-family: InterUI, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
  font-size: 8rem;
  font-weight: 900;
  color: white;
}
@media only screen and (max-width: 1200px) {
  header .hero-container .hero-header-container h1 {
    font-family: InterUI, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
    font-size: 7rem;
    font-weight: 900;
    color: white;
  }
}
@media only screen and (max-width: 800px) {
  header .hero-container .hero-header-container h1 {
    font-family: InterUI, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
    font-size: 4.8rem;
    font-weight: 900;
    color: white;
  }
}
@media only screen and (max-width: 525px) {
  header .hero-container .hero-header-container h1 {
    font-family: InterUI, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
    font-size: 3rem;
    font-weight: 900;
    color: white;
  }
}
@media only screen and (max-width: 320px) {
  header .hero-container .hero-header-container h1 {
    font-family: InterUI, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
    font-size: 2.5rem;
    font-weight: 900;
    color: white;
  }
}
header .hero-container .hero-header-container h2 {
  margin-bottom: 8% ;
  font-family: InterUI, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
  font-size: 3rem;
  font-weight: normal;
  color: white;
}
@media only screen and (max-width: 800px) {
  header .hero-container .hero-header-container h2 {
    font-family: InterUI, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
    font-size: 2.2rem;
    font-weight: normal;
    color: white;
  }
}
@media only screen and (max-width: 525px) {
  header .hero-container .hero-header-container h2 {
    font-family: InterUI, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
    font-size: 1.65rem;
    font-weight: normal;
    color: white;
  }
}
@media only screen and (max-width: 320px) {
  header .hero-container .hero-header-container h2 {
    font-family: InterUI, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
    font-size: 1.4rem;
    font-weight: normal;
    color: white;
  }
}
header .hero-container .hero-header-container a {
  padding: 15px 150px;
  text-decoration: none;
  font-family: InterUI, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  background-color: #28a745;
  color: white;
  border-radius: 10px;
}
header .hero-container .hero-header-container a:hover {
  background-color: #4a4857;
}
@media only screen and (max-width: 1000px) {
  header .hero-container .hero-header-container a {
    padding: 15px 130px;
  }
}
@media only screen and (max-width: 800px) {
  header .hero-container .hero-header-container a {
    padding: 15px 80px;
    font-family: InterUI, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
    font-size: 2rem;
    font-weight: normal;
    color: white;
  }
}
@media only screen and (max-width: 525px) {
  header .hero-container .hero-header-container a {
    width: 45%;
    text-align: center;
    padding: 8px 30px;
    font-family: InterUI, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
    font-size: 1.7rem;
    font-weight: normal;
    color: white;
  }
}
@media only screen and (max-width: 320px) {
  header .hero-container .hero-header-container a {
    font-family: InterUI, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
    font-size: 1.4rem;
    font-weight: normal;
    color: white;
  }
}
.nav-bar {
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #24292e;
}
@media only screen and (max-width: 525px) {
  .nav-bar {
    height: 1%;
  }
}
.nav-bar .nav-container {
  width: 80%;
  max-height: 70px;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
@media only screen and (max-width: 1627px) {
  .nav-bar .nav-container {
    width: 95%;
  }
}
@media only screen and (max-width: 525px) {
  .nav-bar .nav-container {
    width: 100%;
    max-height: 1%;
    margin: 0 auto;
    padding-top: 3%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
  }
}
.nav-bar .nav-container .nav-logo-txt {
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  font-size: 4rem;
  font-weight: bolder;
  color: white;
}
@media only screen and (max-width: 800px) {
  .nav-bar .nav-container .nav-logo-txt {
    font-family: 'Ubuntu', sans-serif;
    font-size: 3rem;
    font-weight: bolder;
    color: white;
  }
}
@media only screen and (max-width: 525px) {
  .nav-bar .nav-container .nav-logo-txt {
    width: 100%;
    margin: 0 0 2% 0;
    padding: 0;
    text-align: center;
  }
}
.nav-bar .nav-container .nav-links {
  width: 30%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
@media only screen and (max-width: 1627px) {
  .nav-bar .nav-container .nav-links {
    width: 40%;
  }
}
@media only screen and (max-width: 800px) {
  .nav-bar .nav-container .nav-links {
    width: 55%;
  }
}
@media only screen and (max-width: 525px) {
  .nav-bar .nav-container .nav-links {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
  }
}
.nav-bar .nav-container .nav-links a {
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1.5rem;
  font-weight: normal;
  color: #faf8ff;
}
.nav-bar .nav-container .nav-links a:hover {
  color: #8685ef;
}
@media only screen and (max-width: 525px) {
  .nav-bar .nav-container .nav-links a:hover {
    color: white;
    background-color: #0366d6;
  }
}
@media only screen and (max-width: 525px) {
  .nav-bar .nav-container .nav-links a {
    width: 100%;
    padding: 2% 0;
    border-top: 1px solid #4a4857;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 2rem;
    font-weight: normal;
    color: #faf8ff;
  }
}
@media only screen and (max-width: 525px) {
  .nav-bar .nav-container .nav-links a:last-child {
    border-bottom: 1px solid #4a4857;
  }
}
.feature-motto-section {
  width: 100%;
}
.feature-motto-section .feature-motto-container {
  width: 80%;
  margin: 0 auto;
  padding: 3% 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}
@media only screen and (max-width: 800px) {
  .feature-motto-section .feature-motto-container {
    width: 95%;
  }
}
@media only screen and (max-width: 525px) {
  .feature-motto-section .feature-motto-container {
    width: 100%;
  }
}
.feature-motto-section .feature-motto-container .feature-heading {
  width: 55%;
  margin-bottom: 10px;
  text-align: center;
  font-family: InterUI, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
  font-size: 4.5rem;
  font-weight: 700;
  color: #333333;
}
@media only screen and (max-width: 1000px) {
  .feature-motto-section .feature-motto-container .feature-heading {
    width: 95%;
    font-family: InterUI, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
    font-size: 3.5rem;
    font-weight: 700;
    color: #333333;
  }
}
@media only screen and (max-width: 800px) {
  .feature-motto-section .feature-motto-container .feature-heading {
    width: 75%;
    font-family: InterUI, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
    font-size: 3rem;
    font-weight: 700;
    color: #333333;
  }
}
@media only screen and (max-width: 525px) {
  .feature-motto-section .feature-motto-container .feature-heading {
    width: 100%;
    padding: 0 2%;
    font-family: InterUI, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    color: #333333;
  }
}
@media only screen and (max-width: 320px) {
  .feature-motto-section .feature-motto-container .feature-heading {
    font-family: InterUI, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    color: #333333;
  }
}
.feature-motto-section .feature-motto-container .feature-sub-heading {
  width: 50%;
  text-align: center;
  font-family: InterUI, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  color: #333333;
}
@media only screen and (max-width: 800px) {
  .feature-motto-section .feature-motto-container .feature-sub-heading {
    width: 75%;
    font-family: InterUI, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    color: #333333;
  }
}
@media only screen and (max-width: 525px) {
  .feature-motto-section .feature-motto-container .feature-sub-heading {
    width: 75%;
    padding: 0 2%;
    font-family: InterUI, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
    font-size: 1.7rem;
    font-weight: 500;
    color: #333333;
  }
}
@media only screen and (max-width: 320px) {
  .feature-motto-section .feature-motto-container .feature-sub-heading {
    width: 100%;
    padding: 0 2%;
    font-family: InterUI, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
    color: #333333;
  }
}
.icon {
  font-size: 3rem;
  color: #0366d6;
  padding-right: 10px;
}
@media only screen and (max-width: 1000px) {
  .icon {
    font-size: 1.6rem;
  }
}
@media only screen and (max-width: 800px) {
  .icon {
    font-size: 2rem;
    text-align: center;
  }
}
@media only screen and (max-width: 525px) {
  .icon {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 320px) {
  .icon {
    font-size: 2rem;
  }
}
.community-section {
  width: 100%;
  padding-top: 2%;
  background-color: white;
}
.community-section .community-container {
  width: 80%;
  padding: 5% 0;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
}
@media only screen and (max-width: 1000px) {
  .community-section .community-container {
    width: 100%;
  }
}
@media only screen and (max-width: 800px) {
  .community-section .community-container {
    width: 95%;
    padding: 2% 0;
  }
}
.community-section .community-container .community-img-container {
  width: 50%;
}
.community-section .community-container .community-img-container img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
@media only screen and (max-width: 525px) {
  .community-section .community-container .community-img-container img {
    border-radius: 0;
  }
}
@media only screen and (max-width: 1000px) {
  .community-section .community-container .community-img-container {
    width: 48%;
  }
}
@media only screen and (max-width: 800px) {
  .community-section .community-container .community-img-container {
    width: 95%;
  }
}
@media only screen and (max-width: 525px) {
  .community-section .community-container .community-img-container {
    width: 100%;
  }
}
.community-section .community-container .community-content {
  width: 50%;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
}
@media only screen and (max-width: 1000px) {
  .community-section .community-container .community-content {
    width: 40%;
    marigin: 2% 0;
  }
}
@media only screen and (max-width: 800px) {
  .community-section .community-container .community-content {
    width: 100%;
    margin: 2% 0;
  }
}
.community-section .community-container .community-content h2 {
  width: 100%;
  text-align: center;
  margin: 0 0 1% 0;
  padding-bottom: 1%;
  font-family: InterUI, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
  font-size: 5rem;
  font-weight: bold;
  color: #333333;
}
@media only screen and (max-width: 1000px) {
  .community-section .community-container .community-content h2 {
    font-family: InterUI, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
    font-size: 2.7rem;
    font-weight: bold;
    color: #333333;
  }
}
@media only screen and (max-width: 800px) {
  .community-section .community-container .community-content h2 {
    margin: 2% 0;
    text-align: center;
    font-family: InterUI, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
    font-size: 4.3rem;
    font-weight: bold;
    color: #333333;
  }
}
@media only screen and (max-width: 525px) {
  .community-section .community-container .community-content h2 {
    margin: 2% 0;
    text-align: center;
    font-family: InterUI, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
    font-size: 3rem;
    font-weight: bold;
    color: #333333;
  }
}
@media only screen and (max-width: 320px) {
  .community-section .community-container .community-content h2 {
    font-family: InterUI, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    color: #333333;
  }
}
.community-section .community-container .community-content .community-card {
  width: 100%;
  margin: 1% auto;
  padding-left: 6%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
@media only screen and (max-width: 525px) {
  .community-section .community-container .community-content .community-card .user {
    width: 100%;
  }
}
.community-section .community-container .community-content .community-card .star {
  color: #ffd33d;
}
@media only screen and (max-width: 525px) {
  .community-section .community-container .community-content .community-card .star {
    width: 100%;
  }
}
.community-section .community-container .community-content .community-card .fire {
  color: #d73a49;
}
@media only screen and (max-width: 525px) {
  .community-section .community-container .community-content .community-card .fire {
    width: 100%;
  }
}
.community-section .community-container .community-content .community-card .comments {
  color: #28a745;
}
@media only screen and (max-width: 525px) {
  .community-section .community-container .community-content .community-card .comments {
    width: 100%;
  }
}
@media only screen and (max-width: 525px) {
  .community-section .community-container .community-content .community-card {
    text-align: center;
    padding-left: 0;
    padding: 2% 0;
  }
}
.community-section .community-container .community-content .community-card .community-txt {
  width: 90%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 2.5rem;
  font-weight: 700;
  color: #4a4857;
}
@media only screen and (max-width: 1000px) {
  .community-section .community-container .community-content .community-card .community-txt {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1.8rem;
    font-weight: 700;
    color: #4a4857;
  }
}
@media only screen and (max-width: 800px) {
  .community-section .community-container .community-content .community-card .community-txt {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 2rem;
    font-weight: 700;
    color: #4a4857;
  }
}
@media only screen and (max-width: 525px) {
  .community-section .community-container .community-content .community-card .community-txt {
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 2.5rem;
    font-weight: 700;
    color: #4a4857;
  }
}
@media only screen and (max-width: 320px) {
  .community-section .community-container .community-content .community-card .community-txt {
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1.8rem;
    font-weight: 700;
    color: #4a4857;
  }
}
.analytics-section {
  width: 100%;
  padding-bottom: 2%;
  background-color: white;
}
.analytics-section .analytics-container {
  width: 80%;
  padding: 5% 0;
  margin: auto;
  display: flex;
  flex-flow: row-reverse wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
@media only screen and (max-width: 1000px) {
  .analytics-section .analytics-container {
    width: 95%;
  }
}
@media only screen and (max-width: 800px) {
  .analytics-section .analytics-container {
    width: 95%;
    padding: 2% 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
  }
}
.analytics-section .analytics-container .analytics-img-container {
  width: 50%;
}
.analytics-section .analytics-container .analytics-img-container img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
@media only screen and (max-width: 525px) {
  .analytics-section .analytics-container .analytics-img-container img {
    border-radius: 0;
  }
}
@media only screen and (max-width: 1000px) {
  .analytics-section .analytics-container .analytics-img-container {
    width: 48%;
  }
}
@media only screen and (max-width: 800px) {
  .analytics-section .analytics-container .analytics-img-container {
    width: 95%;
  }
}
@media only screen and (max-width: 525px) {
  .analytics-section .analytics-container .analytics-img-container {
    width: 100%;
  }
}
.analytics-section .analytics-container .analytics-content {
  width: 50%;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
}
@media only screen and (max-width: 800px) {
  .analytics-section .analytics-container .analytics-content {
    width: 100%;
    margin: 2% 0;
  }
}
.analytics-section .analytics-container .analytics-content h2 {
  width: 100%;
  margin: 0 0 1% 0;
  padding-bottom: 1%;
  font-family: InterUI, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
  font-size: 5rem;
  font-weight: bold;
  color: #333333;
}
@media only screen and (max-width: 1000px) {
  .analytics-section .analytics-container .analytics-content h2 {
    text-align: center;
    font-family: InterUI, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
    font-size: 3rem;
    font-weight: bold;
    color: #333333;
  }
}
@media only screen and (max-width: 800px) {
  .analytics-section .analytics-container .analytics-content h2 {
    margin: 2% 0;
    text-align: center;
    font-family: InterUI, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
    font-size: 4.3rem;
    font-weight: bold;
    color: #333333;
  }
}
@media only screen and (max-width: 525px) {
  .analytics-section .analytics-container .analytics-content h2 {
    margin: 2% 0;
    text-align: center;
    font-family: InterUI, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
    font-size: 3rem;
    font-weight: bold;
    color: #333333;
  }
}
@media only screen and (max-width: 320px) {
  .analytics-section .analytics-container .analytics-content h2 {
    font-family: InterUI, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    color: #333333;
  }
}
.analytics-section .analytics-container .analytics-content .analytics-card {
  width: 100%;
  margin: 1% auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
@media only screen and (max-width: 1000px) {
  .analytics-section .analytics-container .analytics-content .analytics-card {
    padding-left: 6%;
  }
}
@media only screen and (max-width: 800px) {
  .analytics-section .analytics-container .analytics-content .analytics-card {
    padding-left: 6%;
  }
}
@media only screen and (max-width: 525px) {
  .analytics-section .analytics-container .analytics-content .analytics-card {
    text-align: center;
    padding: 2% 0;
  }
}
@media only screen and (max-width: 525px) {
  .analytics-section .analytics-container .analytics-content .analytics-card .code {
    width: 100%;
  }
}
.analytics-section .analytics-container .analytics-content .analytics-card .pulse {
  color: #d73a49;
}
@media only screen and (max-width: 525px) {
  .analytics-section .analytics-container .analytics-content .analytics-card .pulse {
    width: 100%;
  }
}
.analytics-section .analytics-container .analytics-content .analytics-card .branch {
  color: #6e5494;
}
@media only screen and (max-width: 525px) {
  .analytics-section .analytics-container .analytics-content .analytics-card .branch {
    width: 100%;
  }
}
.analytics-section .analytics-container .analytics-content .analytics-card .chart {
  color: #28a745;
}
@media only screen and (max-width: 525px) {
  .analytics-section .analytics-container .analytics-content .analytics-card .chart {
    width: 100%;
  }
}
.analytics-section .analytics-container .analytics-content .analytics-card .analytics-txt {
  width: 90%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 2.5rem;
  font-weight: 700;
  color: #4a4857;
}
@media only screen and (max-width: 1000px) {
  .analytics-section .analytics-container .analytics-content .analytics-card .analytics-txt {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1.7rem;
    font-weight: 700;
    color: #4a4857;
  }
}
@media only screen and (max-width: 800px) {
  .analytics-section .analytics-container .analytics-content .analytics-card .analytics-txt {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 2rem;
    font-weight: 700;
    color: #4a4857;
  }
}
@media only screen and (max-width: 525px) {
  .analytics-section .analytics-container .analytics-content .analytics-card .analytics-txt {
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 2.5rem;
    font-weight: 700;
    color: #4a4857;
  }
}
@media only screen and (max-width: 320px) {
  .analytics-section .analytics-container .analytics-content .analytics-card .analytics-txt {
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1.8rem;
    font-weight: 700;
    color: #4a4857;
  }
}
.cta {
  width: 100%;
  padding: 8% 0;
  background: linear-gradient(rgba(3, 102, 214, 0.9), rgba(3, 102, 214, 0.9)), url('../imgs/hero-bg.jpg') no-repeat center / 100%;
}
.cta .cta-container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
}
.cta .cta-container h1 {
  font-family: InterUI, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
  font-size: 5rem;
  font-weight: 900;
  color: white;
}
@media only screen and (max-width: 800px), only screen and (max-width: 1000px) {
  .cta .cta-container h1 {
    text-align: center;
    font-family: InterUI, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
    font-size: 2.5rem;
    font-weight: 900;
    color: white;
  }
}
@media only screen and (max-width: 525px) {
  .cta .cta-container h1 {
    text-align: center;
    font-family: InterUI, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
    font-size: 2.3rem;
    font-weight: 900;
    color: white;
  }
}
.cta .cta-container a {
  padding: 1% 5%;
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 3rem;
  font-weight: bold;
  color: white;
  background-color: #28a745;
  border-radius: 15px;
}
.cta .cta-container a:hover {
  background-color: #333333;
}
@media only screen and (max-width: 1000px) {
  .cta .cta-container a {
    margin: 1%;
    padding: 2% 4%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
  }
}
@media only screen and (max-width: 800px) {
  .cta .cta-container a {
    margin: 2%;
    padding: 3% 5%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1.9rem;
    font-weight: bold;
    color: white;
  }
}
@media only screen and (max-width: 525px) {
  .cta .cta-container a {
    margin: 2%;
    padding: 3% 10%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1.6rem;
    font-weight: bold;
    color: white;
  }
}
.about-header-container {
  width: 100%;
  height: 450px;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  background: linear-gradient(rgba(36, 41, 46, 0.7), rgba(36, 41, 46, 0.7)), url('../imgs/whiteboard.jpg') no-repeat center / 100%;
  color: white;
}
.we-are-section {
  width: 100%;
  background-color: white;
}
.we-are-section .we-are-container {
  width: 80%;
  margin: 0 auto;
  padding: 5% 0;
}
.we-are-section .we-are-container h2 {
  margin: 0 0 2% 0;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 5rem;
  font-weight: bold;
  color: #333333;
}
.we-are-section .we-are-container .we-are-txt {
  width: 60%;
  margin: auto;
  text-align: center;
  text-indent: 3rem;
  line-height: 1.8;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1.8rem;
  font-weight: normal;
  color: #333333;
}
.our-team-section {
  width: 100%;
}
.our-team-section .our-team-container {
  width: 80%;
  margin: 0 auto;
  padding: 5% 0;
}
.our-team-section .our-team-container h2 {
  margin: 0;
  padding: 2% 0;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 5rem;
  font-weight: bold;
  color: #333333;
}
.our-team-section .our-team-container .team-member-container {
  width: 100%;
  max-width: 100%;
  padding: 1.5% 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
}
.our-team-section .our-team-container .team-member-container .team-member-card {
  width: 29%;
  height: 450px;
  max-width: 100%;
  max-height: 100%;
  margin: 5% 2%;
  padding: 0 2%;
  background-color: #6e5494;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: flex-start;
  align-items: flex-start;
}
.our-team-section .our-team-container .team-member-container .team-member-card img {
  top: -70px;
  position: relative;
  max-width: 100%;
  width: 150px;
  height: 150px;
  padding-bottom: 0;
  border-radius: 100%;
  box-shadow: 0 10px 10px 0px rgba(0, 0, 0, 0.2);
}
.our-team-section .our-team-container .team-member-container .team-member-card h3 {
  width: 100%;
  margin: -30px 0;
  padding: 0;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 3rem;
  font-weight: bold;
  color: #d8d8d8;
}
.our-team-section .our-team-container .team-member-container .team-member-card h4 {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 1.5rem;
  font-weight: normal;
  color: #d8d8d8;
}
.our-team-section .our-team-container .team-member-container .team-member-card .team-member-bio {
  margin: 1.5% 0;
  padding: 0 5%;
  line-height: 1.2;
  font-family: InterUI, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
  font-size: 2rem;
  font-weight: normal;
  color: rgba(248, 248, 248);
}
footer {
  width: 100%;
  padding: 3% 0;
  background-color: #24292e;
  color: white;
}
footer .footer-txt {
  width: 80%;
  margin: auto;
  text-align: center;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}
@media only screen and (max-width: 525px), only screen and (max-width: 800px), only screen and (max-width: 1000px) {
  footer {
    padding: 6% 0;
  }
}
