.about-header-container{
    width: @full-width;
    height: 450px;
    padding: 0;
    .flexBox(row, wrap, flex-start,  center, center);
    background: linear-gradient(@about-bg-color, @about-bg-color), url('../imgs/whiteboard.jpg') no-repeat center/100% ;
    color: @white;

    .about-hero-container{
        width: @about-container-width;
        margin: auto;

        h1{
            margin-bottom: 5%;
            .fontFace(@white, 8rem,@display-font, 900);
        }
    }
}

.we-are-section{
    width: @full-width;

    .we-are-container{
        width: @about-who-we-are-container-width;
        margin: auto;
        padding:  2% 0;

        h2{
            text-align: center;
            .fontFace(@github-drkGrey-rgba, 5rem, @system-fonts, bold);
        }
    
        .we-are-txt{
            width: 60%;
            margin: auto;
            text-align: center;
            text-indent: 3rem;
            line-height: 1.8;
            .fontFace(@github-drkGrey-rgba, 1.8rem, @system-fonts);
        }
           
    }
}