.cta{
    width: @full-width;
    padding: 8% 0;
    background: linear-gradient(@cta-bg-color, @cta-bg-color), url('../imgs/hero-bg.jpg') no-repeat center/100%;

    .cta-container{
        width: @cta-container-width;
        margin: auto;
        .flexBox(row, wrap, space-evenly, center, center);

        h1{
            .fontFace(@white, 5rem, @display-font, 900);

            @media @max1200{
                text-align: center;
                .fontFace(@white, 3rem, @display-font, 900);
            }

            @media @max800, @max1000{
                text-align: center;
                .fontFace(@white, 2.5rem, @display-font, 900);
            }

            @media @max500{
                text-align: center;
                .fontFace(@white, 2.3rem, @display-font, 900);
            }

            @media @max320{
                text-align: center;
                .fontFace(@white, 1.4rem, @display-font, 900);
            }
        }

        a{
            padding: 1% 5%;
            text-decoration: none;
            .fontFace(@white, 3rem, @system-fonts, bold);
            background-color: @cta-btn-color;
            border-radius: 15px;

            &:hover{
                background-color: @github-drkGrey-rgba;
            }

            @media @max1200{
                padding: 2% 5%;
                .fontFace(@white, 2rem, @system-fonts, bold);
            }

            @media @max1000{
                margin: 1%;
                padding: 2% 4%;
                .fontFace(@white, 1.5rem, @system-fonts, bold);
            }

            @media @max800{
                margin: 2%;
                padding: 3% 5%;
                .fontFace(@white, 1.9rem, @system-fonts, bold);
            }

            @media @max500{
                margin: 2%;
                padding: 3% 10%;
                .fontFace(@white, 1.6rem, @system-fonts, bold);
            }
        }
    }
}