.feature-motto-section{
    width: @full-width;

    .feature-motto-container{
        width: @feature-section-container;
        margin: 0 auto;
        padding: 3% 0;
        .flexBox(row, wrap, center, center, center);

        .feature-heading{
            width: @feature-header-width;
            margin-bottom: 10px;
            text-align: center;
            .fontFace(@github-drkGrey-rgba, 4.5rem,@display-font, 700);
        }

        .feature-sub-heading{
            width: @feature-sub-header-width;
            text-align: center;
            .fontFace(@github-drkGrey-rgba, 1.5rem,@display-font, 700);
        }
    }
}

.icon{
    font-size: 3rem;
    color: @icon-color;
    padding-right: 10px;
}

//Community Section
.community-section{
    width: @full-width;
    padding-top: 10%;
    // .flexBox(row, wrap, space-between, center, center);
    background-color: @white;
    
    .community-container{
        width: @community-container-width;
        padding: 5% 0;
        margin: auto;
        .flexBox(row, wrap, space-evenly, center, center);
 

        .community-img-container{
           // width: @community-img-container-width;
            width: @community-img-container-width;
            img{
                width: @full-width;
                height: @full-width;
                border-radius: 15px;
            }
        }

        .community-content{
            width: @community-content-container;
            padding: 0;
            .flexBox(row, wrap, space-evenly, center, center);

            h2{
                width: @full-width;
                text-align: center;
                margin: 0 0 1% 0;
                padding-bottom: 1%;
                .fontFace(@github-drkGrey-rgba, 5rem, @display-font, bold);
                //border-bottom: 1.5px solid @github-altGrey-rgba;
            }

            .community-card{
                width: @community-card-width;
                margin: 1% auto;
                padding-left: 6%;
                .flexBox(row, wrap, space-between, center, center);

                .star{
                    color: @star-icon-color;
                }
                .fire{
                    color: @fire-icon-color;
                }

                .comments{
                    color: @comment-icon-color;
                }

                .community-txt{
                    width: @community-card-txt-width;
                    .fontFace(@github-altGrey-rgba, 2.5rem, @system-fonts, 700);
                }
            }
        }
    }
}

//Analytics Section
.analytics-section{
    width: @full-width;
    padding-bottom: 10%;
    // .flexBox(row, wrap, space-between, center, center);
    background-color: @white;
    
    .analytics-container{
        width: @analytics-container-width;
        padding: 5% 0;
        margin: auto;
        .flexBox(row-reverse, wrap, space-between, center, center);
 

        .analytics-img-container{
           // width: @analytics-img-container-width;
            width: @analytics-img-container-width;
            img{
                width: @full-width;
                height: @full-width;
                border-radius: 15px;
            }
        }

        .analytics-content{
            width: @analytics-content-container;
            padding: 0;
            .flexBox(row, wrap, space-evenly, center, center);

            h2{
                width: @full-width;
                // text-align: center;
                margin: 0 0 1% 0;
                padding-bottom: 1%;
                .fontFace(@github-drkGrey-rgba, 5rem, @display-font, bold);
                //border-bottom: 1.5px solid @github-altGrey-rgba;
            }

            .analytics-card{
                width: @analytics-card-width;
                margin: 1% auto;
                .flexBox(row, wrap, space-between, center, center);

                .pulse{
                    color: @pulse-icon-color;
                }

                .branch{
                    color: @branch-icon-color;
                }

                .chart{
                    color: @chart-icon-color;
                }

                .analytics-txt{
                    width: @analytics-card-txt-width;
                    .fontFace(@github-altGrey-rgba, 2.5rem, @system-fonts, 700);
                }
            }
        }
    }
}