.feature-motto-section{
    width: @full-width;

    .feature-motto-container{
        width: @feature-section-container;
        margin: 0 auto;
        padding: 3% 0;
        .flexBox(row, wrap, center,  center, center);

        .feature-heading{
            width: @feature-header-width;
            margin-bottom: 10px;
            text-align: center;
            .fontFace(@github-drkGrey-rgba, 4.5rem,@display-font, 700);
        }

        .feature-sub-heading{
            width: @feature-sub-header-width;
            text-align: center;
            .fontFace(@github-drkGrey-rgba, 1.5rem,@display-font, 700);
        }
    }
}

.features-section{
    width: @full-width;
    // .flexBox(row, wrap, space-between, center, center);
    background-color: @white;
    
    .feature-container{
        width: @feature-container-width;
        padding: 5% 0;
        margin: auto;
        .flexBox(row, wrap, space-between, flex-start, flex-start);
 

        .features-img-container{
           // width: @features-img-container-width;
            width: 40%;
            
            img{
                width: @full-width;
                height: @full-width;
                border-radius: 15px;
            }
        }

        .features-content{
        
            width: @features-img-container-width;
            .flexBox(row, wrap, flex-start, flex-start, flex-start);

            h2{
                width: @full-width;
                margin: 0 0 2% 0;
                padding-bottom: 2%;
                .fontFace(@github-drkGrey-rgba, 4.5rem, @display-font, bold);
                //border-bottom: 1.5px solid @github-altGrey-rgba;
            }

            .feature-card{
                width: @feature-card-width;
                margin: 1% auto;
                .flexBox(row, wrap, space-between, center, center);

                .icon{
                    font-size: 2.5rem;
                    color: @icon-color;
                    padding-right: 10px;
                }

                .star{
                    color: @star-icon-color;
                }
                .fire{
                    color: @fire-icon-color;
                }

                .comments{
                    color: @comment-icon-color;
                }

                .features-txt{
                    width: @feature-card-txt-width;
                  
                    .fontFace(@github-altGrey-rgba, 1.8rem, @system-fonts, 700);
                }
            }
        }
    }
}