header{
    width: @full-width;
    height: 600px;
    padding: 0;
    .flexBox(row, wrap, flex-start,  center, center);
    background: linear-gradient(@header-bg-img-color, @header-bg-img-color), url('../imgs/bridge.jpg') no-repeat center/100% ;
    color: @white;

    .hero-container{
        width: @header-container-width;
        margin:  0 auto;
  

        .hero-header-container{
            width: 60%;
            // margin: 5% 0;

            h1{
                margin-bottom: 5%;
                .fontFace(@white, 8rem,@display-font, 900);
            }

            h2{
                margin-bottom: 8% ;
                .fontFace(@white, 3rem, @display-font);
            }

            a{
    
                padding: 15px 150px;
                text-decoration: none;
                .fontFace(@white, 2.5rem, @display-font);
                background-color: green;
                color: @white;
                border-radius: 10px;
                
                &:hover{
                    background-color: @github-altGrey-rgba;
                }
            }
        }
    }
}