.nav-bar{
    width: 100%;
    font-family: @system-fonts;
    
    .nav-container{
        .flexBox();
        border: 1px solid blue;
        background-color: @nav-bg;

        .nav-logo-txt{
            font-family: @ubuntu-font;
            font-weight: 900;
            color: @nav-logo-color;
        }
    }
}