.nav-bar{
    width: @full-width;
    font-family: @system-fonts;
    background-color: @nav-bg;
    
    .nav-container{
        width: @nav-container-width;
        max-height: @nav-container-height;
        margin: auto;
        .flexBox(row, wrap, space-between);

        .nav-logo-txt{
            padding: 0;
            .fontFace(@white, 4rem, @ubuntu-font, bolder);
        }

        .nav-links{
            width: @nav-links-width;

            .flexBox(row, wrap, space-between);
            
            a{
                text-decoration: none;
                .fontFace(@github-lightGrey-rgba, 1.5rem);

                &:hover{
                    color: @github-purple-alt-rgba;
                }
            }
        }
    }
}