
//Dimensions
@full-width: 100%;
@desktop-max-width: 1000px;


//Fonts
@ubuntu-font: 'Ubuntu', sans-serif;
@system-fonts: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
@mono-font: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
@display-font: InterUI, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;


//Colors
@white: white;
@github-green-rgba: rgba(40,167,69,1);//hex #28A745
@github-red-rgba: rgba(215,58,73, 1); //hex #d73a49
@github-yellow-rgba: rgba(255,211,61, 1);//hex	#ffd33d
@github-blue-rgba: rgba(3,102,214, 1);//hex	#0366d6
@github-orange-rgba: rgba(209,87,4,1);//hex #d15704
@github-purple-rgba: rgba(110,84,148, 1);//hex #6e5494
@github-purple-alt-rgba: rgba(134,133,239, 1);// #8685EF
@github-drkGrey-rgba: rgba(51,51,51,1);//hex #333333
@github-altGrey-rgba: rgba(74,72,87,1);//#4A4857
@github-black-rgba: rgba(36,41,46,1);//hex #24292e
@github-lightGrey-rgba: rgba(250,248,255,1);// hex #FAF8FF
@github-lightGrey-alt-rgba: rgba(245,245,245,1);//hex #F5F5F5
@github-ligthGrey-alt2-rgba: rgba(250,250,250,1);//#fafafa
@github-grey-rgba: rgba(216,216,216,1);//#D8D8D8
@github-grey-alt-rgba: rgba(248,248,248);//#F8F8F8

//Media Queries
@max1600: ~"only screen and (max-width: 1627px)";
@max1200: ~"only screen and (max-width: 1200px)";
@max1000: ~"only screen and (max-width: 1000px)";
@max500: ~"only screen and (max-width: 525px)";
@max320: ~"only screen and (max-width: 320px)";


//body background
@body-bg: @github-lightGrey-alt-rgba;

//nav
@nav-container-width: 80%;
@nav-container-height: 70px;
@nav-links-width: 30%;

//nav colors
@nav-bg: @github-black-rgba;
@nav-logo-color: @white;

//nav media queries vars
@nav-max1600-media-width: 95%;
@nav-max1600-links-width: 40%;

//header media queries var
@header-max1600-media-width: 95%;
@header-container-max1600-media-width: 80%;
@header-container-max1200-media-width: 90%;
@header-container-max1000-media-width: 100%;

//header
@header-container-width: @nav-container-width;

//header colors
@header-bg-img-color: #6e5494cc;


//feature motto section
//widths
@feature-section-container: @nav-container-width;
@feature-header-width: 55%;
@feature-sub-header-width: 50%;
@features-content-width: @feature-sub-header-width;

//Community Section
//widths
@community-container-width:  @nav-container-width;
@community-img-container-width: 50%;
@community-content-container: 50%;
@community-card-width: 100%;
@community-card-txt-width: 90%;


//Analytics Section
@analytics-container-width:  @nav-container-width;
@analytics-content-container: 50%;
@analytics-card-width: @community-card-width;
@analytics-img-container-width: @community-img-container-width; 
@analytics-card-txt-width: @community-card-txt-width;


//CTA Section
@cta-container-width: @nav-container-width;

//CTA colors
//@cta-bg-color: rgba(51,51,51,1);
@cta-bg-color: rgba(3,102,214, .9);
@cta-btn-color: @github-green-rgba;


//About Us
//Widths
@about-container-width: @nav-container-width;
@about-who-we-are-container-width: @nav-container-width;
@about-our-team-container-width: @nav-container-width;

//Colors
@about-hero-bg-color: rgba(36,41,46,.7);
@our-team-bg-color: @github-purple-rgba;
@team-member-card-bg: @github-purple-rgba;
@team-member-card-header-color: @github-grey-rgba;
@team-member-card-subheader-color: @github-grey-rgba;
@team-member-card-txt-color: @github-grey-alt-rgba;
//@about-bg-color: rgba(3,102,214, .6);


//Footer
//width
@copy-txt-width: @nav-container-width;

//color
@footer-copy-color: @white;

//Icons
//colors
@icon-color: @github-blue-rgba;
@star-icon-color: @github-yellow-rgba;
@fire-icon-color: @github-red-rgba;
@comment-icon-color: @github-green-rgba;
@code-icon-color: @github-drkGrey-rgba;
@pulse-icon-color: @github-red-rgba;
@branch-icon-color: @github-purple-rgba;
@chart-icon-color: @github-green-rgba;


//media queries


//max-width 800px

@max800: ~"only screen and (max-width: 800px)";

//header
@header-container-max800-media-width: 95%;

//feature-motto-section
@feature-motto-max800-media-container-width: 95%;
@feature-header-max800-media-width: 75%;

//features-community
@feature-community-max800-media-container-width: 95%;
@feature-community-img-max800-media-container-width: 95%;
@feature-community-content-max800-media-container: 100%;